<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="showDialog()" style="right:10px" ></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger ml-2" (click)="showDVDialog()" [disabled]="!selectedPermisos || !selectedPermisos.length"></button>
        <button pButton pRipple label="Ver lista de heroes" icon="pi pi-user" class="p-button-help ml-2" [routerLink]="['/login/lista']"  style="left:20px"></button>
    </ng-template>

</p-toolbar>


<p-toast position="top-center"></p-toast>

<div class="card">

    <p-table
        #dt
        [value]="permisos"
        [rows]="5"
        [paginator]="true"
        [globalFilterFields]="['permiso']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedPermisos"
        [rowHover]="true"
        dataKey="id"
        [lazy]="true" (onLazyLoad)="getInfo($event)" [loading]="loading" [rowHover]="true" [totalRecords]="total"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Permisos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(filterSearch($event), 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th style="width: 50rem"pSortableColumn="permiso">Permiso<p-sortIcon field="permiso"></p-sortIcon></th>
                <th>Accion</th>
                <th pSortableColumn="acciones">Gestion</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-permiso>
            <tr>
                <td><p-tableCheckbox [value]="permiso"></p-tableCheckbox></td>
                <td>{{ permiso.nombre }}</td>
                <td><p-tag [value]="permiso.clave" [severity]="getSeverity()"></p-tag></td>

                <td>
                    <button (click)="getOne(permiso.id)"  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" style="right:10px"></button>
                    <button (click)="showDDialog(permiso.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="flex align-items-center justify-content-between">No permisos</div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">In total there are {{ permisos ? permisos.length : 0 }} permisos.</div>
        </ng-template>
    </p-table>
</div>

<!-- -------------------------------------------- Formulario Agregar ------------------------------------------------- -->

<form [formGroup]="Formulario">

    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '25vw', height:'800px' }" class="flex flex-column flex-wrap">
       
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Nuevo permiso</span>
        </ng-template>

        <label>Nombre</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="nombre" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido('nombre')">Ingrese un nombre</p>

        <label>Clave</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="clave" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido('clave')">Ingrese una clave</p>

        <label>Accion</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="accion" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido('accion')">Ingrese una accion</p>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="visible = false" label="Cancel" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="!Formulario.valid || disableA" (click)="add()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

</form>
<!-- -------------------------------------------- Formulario actualizar ------------------------------------------------- -->

<form [formGroup]="Formulario2">

    <p-dialog header="Header" [(visible)]="visibleE" [style]="{ width: '25vw', height:'800px' }" class="flex flex-column flex-wrap">
       
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Editar</span>
        </ng-template>

        
        <label>Nombre</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="nombre" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido2('nombre')">Ingrese un nombre</p>

        <label>Clave</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="clave" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido2('clave')">Ingrese una clave</p>

        <label>Accion</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="accion" />
        <p style="font-size:10px; color:red;" *ngIf="campoValido2('accion')">Ingrese una accion</p>

        <ng-template pTemplate="footer" [value]="permiso">
            <p-button icon="pi pi-times" (click)="visibleE = false" label="Cancel" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="!Formulario2.valid || disableU" (click)="update()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

</form>
<!-- -------------------------------------------- Dialog Eliminar Uno ------------------------------------------------- -->

<p-dialog header="Header" [(visible)]="visibleDel" [style]="{ width: '25vw'}" class="flex flex-column flex-wrap">
       
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Eliminar permiso</span>
    </ng-template>

    <p>Estas a punto de eliminar un permiso. ¿Quieres continuar?</p>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="visibleDel = false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" [disabled]="disableD" (click)="delete()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- -------------------------------------------- Dialog Eliminar varios ------------------------------------------------- -->

<p-dialog header="Header" [(visible)]="visibleVar" [style]="{ width: '25vw'}" class="flex flex-column flex-wrap">
       
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Eliminar permiso</span>
    </ng-template>

    <p>Estas a punto de eliminar permisos. ¿Quieres continuar?</p>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="visibleVar = false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" [disabled]="disableDV" (click)="deleteSelected()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>