html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url('../../../../assets/fondoi.png');
    background-size: cover;
    background-position: center;
    background-repeat:space;
    background-color: rgb(0, 0, 0, 0.4);
}


.app-logo {
    width: 100px;
    height: 130px;
}

.app-name {
    font-size: 24px;
    color: #333;
}

.login-panel {
    width: 350px;
    padding: 15px;
    background-color: #BB8833;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.p-field {
    margin-bottom: 20px;
    width: 100%;
}

.p-field label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.p-field input {
    width: 100%;
}

button {
    width: 100%;
    /* background-color: black; */
}

.error{
  color: white;
}
