<form [formGroup]="Formulario" (ngSubmit)="login()" role="form">
<p-toast position="top-center"></p-toast>

    <div class="login-container">

        <div class="logo-container">
            <img src="assets/flacas.png" alt="Flaca Sanmiguelense" class="app-logo" />
            <h2 class="app-name" style="color: white;">Flaca Sanmiguelense</h2>
        </div>

        <div class="login-panel">

            <div class="login-form">

                <div class="p-field">
                    <h2>Inicio de sesión</h2>
                </div>

                <div class="p-field">
                    <label>Correo Electrónico</label>
                    <input type="email" pInputText placeholder="Ingresa tu correo" formControlName="email" />
                </div>

                <div class="p-field">
                    <label>Contraseña</label>
                    <input type="password" pInputText placeholder="Ingresa tu contraseña" formControlName="password" />
                </div>

                <button pButton label="Ingresar" class="p-button-rounded" type="submit"></button>
            </div>

        </div>
    </div>
</form>