<app-nav></app-nav>

<p-toast position="top-center"></p-toast>


<form [formGroup]="Formulario" (ngSubmit)="login()" role="form">
    <div>
        <div>
            <input type="email" formControlName="email" placeholder="Correo electronico">
        </div>
        <p style="font-size:10px; color:red;" *ngIf="campoValido('email')">Ingrese su correo electronico</p>

        <div>
            <input type="password" formControlName="password" placeholder="Contraseña">
        </div>
        <p style="font-size:10px; color:red;" *ngIf="campoValido('password')">Ingrese su contraseña</p>

    </div>
    <button type="submit">Login</button>
    <button type="button">Registrarse</button>
</form>