<app-nav></app-nav>

<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Agregar Convocatoria" icon="pi pi-plus" class="p-button-success mr-2"
      (click)="showDialogAdd()" style="right:10px"></button>
    <button pButton pRipple icon="pi pi-trash" class="p-button-danger ml-2" (click)="showDialogDelMany()"
      [disabled]="!selectedCalls || !selectedCalls.length"></button>
    <p-card header="Total de convocatorias" class="ml-3">
      <p class="m-0">
        {{ calls ? calls.length : 0 }}
      </p>
    </p-card>
    <p-card header="Total de registros ">
      <p class="m-0">{{ records ? records.length : 0 }}</p>
    </p-card>
    <p-card header="Total de ingresos">
      <p class="m-0"> {{ this.totalMoney | currency:"MX"}} </p>
    </p-card>

  </ng-template>
</p-toolbar>

<p-toast position="top-center"></p-toast>
<div class="card">
  <p-table #dt [value]="filteredCalls" [loading]="loading" [(selection)]="selectedCalls" dataKey="id" [rowHover]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Lista de convocatorias</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterCalls($event)" placeholder="Buscar convocatoria..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombre">Nombre
        </th>
        <th pSortableColumn="reglas">Reglas

        </th>
        <th pSortableColumn="fecha_cierre">Fecha de Cierre

        </th>
        <th pSortableColumn="costo">Costo

        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-convocatoria>
      <tr>
        <td>
          <p-tableCheckbox [value]="convocatoria"></p-tableCheckbox>
        </td>
        <td>{{ convocatoria.nombre }}</td>
        <td>{{ convocatoria.reglas }}</td>
        <td>{{ convocatoria.fecha_cierre | date: 'short' }}</td>
        <td>{{ convocatoria.costo | currency }}</td>

        <td style="white-space: nowrap;">
          <button (click)="editCall(convocatoria)" pButton pRipple icon="pi pi-pencil"
            class="p-button-rounded p-button-success  p-mr-4"></button>
          <!-- <button (click)="deleteCall(convocatoria.id)" pButton pRipple icon="pi pi-trash"
            class="p-button-rounded p-button-danger"></button> -->
          <button (click)="viewRegisters(convocatoria.id)" icon="pi pi-eye" pButton pRipple
            class="p-button-rounded p-mr-4"></button>
          <button (click)="addRegister(convocatoria)" icon="pi pi-user-plus" pButton pRipple
            class="p-button-rounded p-button-secondary"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <div class="flex align-items-center justify-content-between">No hay convocatorias</div>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">En total existen {{ calls ? calls.length : 0 }}
        convocatorias.</div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="dialogVisible" [modal]="true" [responsive]="true" [style]="{width: '800px', height: '900px'}"
  [header]="dialogHeader">
  <form [formGroup]="callForm" (ngSubmit)="saveCall()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" />
        <small style="font-size:10px; color:red;"
          *ngIf="callForm.get('nombre')?.invalid && callForm.get('nombre')?.touched" class="text-danger">Nombre es
          requerido.</small>
      </div>

      <div class="p-field">
        <label for="reglas">Reglas</label>
        <p-editor  id="reglas" pInputTextarea formControlName="reglas"></p-editor>
        <small style="font-size:10px; color:red;"
          *ngIf="callForm.get('reglas')?.invalid && callForm.get('reglas')?.touched" class="text-danger">Reglas son
          requeridas.</small>
      </div>

      <div class="p-field">
        <label for="fechaCierre">Fecha y Hora de Cierre:</label>
        <p-calendar formControlName="fecha_cierre" [showTime]="true" hourFormat="12" [inline]="true"
          placeholder="Selecciona la fecha y hora"></p-calendar>
        <small style="font-size:10px; color:red;" *ngIf="fieldInvalid('fecha_cierre')" class="text-danger">Fecha y Hora
          son requeridas.</small>
      </div>

      <div class="p-field">
        <label for="costo">Costo</label>
        <input id="costo" type="number" pInputText formControlName="costo" />
        <small style="font-size:10px; color:red;"
          *ngIf="callForm.get('costo')?.invalid && callForm.get('costo')?.touched" class="text-danger">Costo es
          requerido y debe ser mayor o igual a 0.</small>
      </div>
    </div>
    <div class="dialog-footer">
      <p-button icon="pi pi-times" (click)="dialogVisible = false" label="Cancelar"
        styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" [disabled]="callForm.invalid" type="submit" label="Aceptar"
        styleClass="p-button-text"></p-button>
    </div>
    <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="dialogVisible = false" label="Cancelar" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="callForm.invalid" type="submit" label="Aceptar" styleClass="p-button-text"></p-button>
        </ng-template> -->
  </form>
</p-dialog>

<p-dialog header="Confirmar Eliminación" [(visible)]="visibleDelete" [style]="{ width: '25vw' }"
  class="flex flex-column flex-wrap">

  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Eliminar convocatoria</span>
  </ng-template>

  <p>Estas a punto de eliminar una convocatoria. ¿Quieres continuar?</p>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="visibleDelete = false" label="Cancelar" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" [disabled]="disableDelete" (click)="confirmDelete()" label="Aceptar"
      styleClass="p-button-text"></p-button>
  </ng-template>

</p-dialog>



<p-dialog header="Confirmar Eliminación" [(visible)]="visibleDelMany" [style]="{ width: '25vw' }"
  class="flex flex-column flex-wrap">

  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Eliminar convocatorias</span>
  </ng-template>

  <p>Estás a punto de eliminar varias convocatorias. ¿Quieres continuar?</p>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="visibleDelMany = false" label="Cancelar"
      styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" [disabled]="disableDeleteMany" (click)="deleteSelected()" label="Aceptar"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleRegister" [responsive]="true" [modal]="true" [closable]="true" [style]="{width: '450px'}"
  [breakpoints]="{'960px': '95vw'}" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    {{ isEditMode ? 'Editar Registro' : 'Agregar Registro' }}
  </ng-template>

  <form [formGroup]="registerForm" (ngSubmit)="saveRegsiter()" class="p-fluid">
    <div class="p-fluid text-center">
      <h3 class="m-0 text-primary" for="participantes">{{selectedConvocatoria?.nombre}}</h3>
      <label for="participantes">Participantes</label>
      <input id="participantes" type="text" pInputText formControlName="participantes" />

      <label for="correo">Correo</label>
      <input id="correo" type="text" pInputText formControlName="correo" />

      <label for="pagado">Pagado</label>
      <p-toggleButton inputId="pagado" formControlName="pagado" onLabel="Sí" offLabel="No"></p-toggleButton>

      <label for="verificado">Verificado</label>
      <p-toggleButton inputId="verificado" formControlName="verificado" onLabel="Sí" offLabel="No"></p-toggleButton>

    </div>
    <div class="dialog-footer">
      <p-button icon="pi pi-times" (click)="visibleRegister = false" label="Cancelar"
        styleClass="p-button-outlined p-button-danger"></p-button>
      <p-button icon="pi pi-check" [disabled]="registerForm.invalid" type="submit"
        [label]="isEditMode ? 'Actualizar' : 'Agregar'" styleClass="p-button-success"></p-button>
    </div>
  </form>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}"></p-confirmDialog>
<p-dialog header="Registros de Convocatoria" [(visible)]="visibleRegisters" [modal]="true" [responsive]="true"
  [closable]="true">
  <p-table [value]="currentRegisters">
    <ng-template pTemplate="header">
      <tr>
        <th>Participante</th>
        <th>Correo</th>
        <th>Pagado</th>
        <th>Verificado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
      <tr>
        <td>{{ registro.participantes }}</td>
        <td>{{ registro.correo }}</td>
        <td>{{ registro.pagado ? 'Sí' : 'No' }}</td>
        <td>{{ registro.verificado ? 'Sí' : 'No' }}</td>
        <td>
          <button (click)="editRegister(registro)" pButton icon="pi pi-pencil"
            class="p-button-rounded p-button-success"></button>

          <button (click)="deleteRegister(registro.id)" pButton icon="pi pi-trash"
            class="p-button-rounded p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
