<app-nav></app-nav>

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Agregar Convocatoria" icon="pi pi-plus" class="p-button-success mr-2" (click)="showDialogAdd()" style="right:10px"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger ml-2" (click)="showDialogDelMany()" [disabled]="!selectedCalls || !selectedCalls.length"></button>
    </ng-template>
</p-toolbar>

<p-toast position="top-center"></p-toast>
<div class="card">
    <p-table #dt [value]="calls" [loading]="loading" [(selection)]="selectedCalls" dataKey="id" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} convocatorias" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lista de Convocatorias</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterCalls($event)" placeholder="Buscar convocatoria..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre">Nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="reglas">Reglas
                    <p-sortIcon field="reglas"></p-sortIcon>
                </th>
                <th pSortableColumn="fecha_cierre">Fecha de Cierre
                    <p-sortIcon field="fecha_cierre"></p-sortIcon>
                </th>
                <th pSortableColumn="costo">Costo
                    <p-sortIcon field="costo"></p-sortIcon>
                </th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-convocatoria>
            <tr>
                <td>
                    <p-tableCheckbox [value]="convocatoria"></p-tableCheckbox>
                </td>
                <td>{{ convocatoria.nombre }}</td>
                <td>{{ convocatoria.reglas }}</td>
                <td>{{ convocatoria.fecha_cierre | date: 'short' }}</td>
                <td>{{ convocatoria.costo | currency }}</td>

                <td style="width:10rem">
                    <button (click)="editCall(convocatoria)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-5" style="right:10px"></button>
                    <button (click)="deleteCall(convocatoria.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="flex align-items-center justify-content-between">No hay convocatorias</div>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total existen {{ calls ? calls.length : 0 }} convocatorias.</div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialogVisible" [modal]="true" [responsive]="true" [style]="{width: '800px', height: '900px'}" [header]="dialogHeader">
    <form [formGroup]="callForm" (ngSubmit)="saveCall()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" pInputText formControlName="nombre" />
                <small *ngIf="callForm.get('nombre')?.invalid && callForm.get('nombre')?.touched" class="text-danger">Nombre es requerido.</small>
            </div>

            <div class="p-field">
                <label for="reglas">Reglas</label>
                <textarea rows="10" id="reglas" pInputTextarea formControlName="reglas"></textarea>
                <small *ngIf="callForm.get('reglas')?.invalid && callForm.get('reglas')?.touched" class="text-danger">Reglas son requeridas.</small>
            </div>

            <div class="p-field">
                <label for="fechaCierre">Fecha y Hora de Cierre:</label>
                <p-calendar formControlName="fecha_cierre" [showTime]="true" hourFormat="12" [inline]="true" placeholder="Selecciona la fecha y hora"></p-calendar>
                <small *ngIf="fieldInvalid('fecha_cierre')" class="text-danger">Fecha y Hora son requeridas.</small>
            </div>

            <div class="p-field">
                <label for="costo">Costo</label>
                <input id="costo" type="number" pInputText formControlName="costo" />
                <small *ngIf="callForm.get('costo')?.invalid && callForm.get('costo')?.touched" class="text-danger">Costo es requerido y debe ser mayor o igual a 0.</small>
            </div>
        </div>
        <div class="dialog-footer">
            <p-button icon="pi pi-times" (click)="dialogVisible = false" label="Cancelar" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="callForm.invalid" type="submit" label="Aceptar" styleClass="p-button-text"></p-button>
        </div>
        <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="dialogVisible = false" label="Cancelar" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="callForm.invalid" type="submit" label="Aceptar" styleClass="p-button-text"></p-button>
        </ng-template> -->
    </form>
</p-dialog>