<form [formGroup]="Formulario">

    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>

    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '25vw', height:'800px' }" class="flex flex-column flex-wrap">
       
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Heroes Detalles</span>
        </ng-template>

        <label>Nombre</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="nombre" />


        <label>Descripción</label>
        <textarea rows="5" cols="29" pInputTextarea formControlName="descripcion"></textarea>


        <label>Categoria</label>

        <p-dropdown [options]="categorias" optionLabel="categoria" placeholder="Categoría" [style]="{ width: '20vw'}"
            formControlName="categoria">
        </p-dropdown>

        <label>Genero</label>
        <div *ngFor="let gen of generos" class="field-checkbox">
            <p-radioButton [inputId]="gen.genero" [value]="gen.genero" formControlName="enero"></p-radioButton>
            <label class="ml-2">{{ gen.genero }}</label>
        </div>

        <label>URL Imagen</label>
        <input pInputText [style]="{ width: '20vw'}" formControlName="url" />

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="visible = false" label="Cancel" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" (click)="info()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

</form>