<app-nav></app-nav>
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Agregar Evento " icon="pi pi-plus" class="p-button-success mr-2"
            (click)="showDialog()" style="right:10px"></button>
        <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-danger ml-2" (click)="showDVDialog()"
            [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
    </ng-template>

</p-toolbar>


<p-toast position="top-center"></p-toast>

<div class="card">

    <p-table #dt [value]="filteredQuestions" [rows]="5" [paginator]="false"
        [globalFilterFields]="['lugar', 'descripcion', 'evento', 'fecha_inicial', 'fecha_final']"
        [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="getInfo()"
        [loading]="loading" [rowHover]="true"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} preguntas"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lista de eventos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterSearch($event)" placeholder="Buscar evento..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="lugar">Lugar</th>
                <th pSortableColumn="descripciones">Descripcion</th>
                <th pSortableColumn="evento">Evento</th>
                <th pSortableColumn="fecha_inicial">Fecha Inicial</th>
                <th pSortableColumn="fecha_final">Fecha Final</th>
                <th pSortableColumn="fecha_final">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.lugar }}</td>
                <td>{{ product.descripcion }}</td>
                <td>{{ product.evento }}</td>
                <td>{{ product.fecha_inicial | date:'medium' }}</td>
                <td>{{ product.fecha_final | date:'medium' }}</td>
                <td style="width:10rem">
                    <button (click)="getOne(product.id)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2" style="right:10px"></button>
                    <button (click)="showDDialog(product.id)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="flex align-items-center justify-content-between">No productos</div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total hay {{ products ? products.length : 0
                }} agendas.</div>
        </ng-template>
    </p-table>
</div>

<!-- -------------------------------------------- Formulario Agregar ------------------------------------------------- -->

<p-dialog [(visible)]="visible" [modal]="true" [responsive]="true" [style]="{width: '800px', height: 'auto'}"
    header="Agregar Evento">
    <form [formGroup]="Formulario" (ngSubmit)="add()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="lugar">Lugar</label>
                <input id="lugar" type="text" pInputText formControlName="lugar" />
                <small *ngIf="Formulario.get('lugar')?.invalid && Formulario.get('lugar')?.touched"
                    class="text-danger">Lugar es requerido.</small>
            </div>

            <div class="p-field">
                <label for="evento">Evento</label>
                <textarea id="evento" pInputTextarea formControlName="evento"></textarea>
                <small *ngIf="Formulario.get('evento')?.invalid && Formulario.get('evento')?.touched"
                    class="text-danger">Tipo de evento es requerido.</small>
            </div>

            <div class="p-field">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" pInputTextarea formControlName="descripcion"></textarea>
                <small *ngIf="Formulario.get('descripcion')?.invalid && Formulario.get('descripcion')?.touched"
                    class="text-danger">Descripción es requerido.</small>
            </div>

            <div class="p-field">
                <label>Inicio de evento</label><br>
                <p-calendar formControlName="fecha_inicial" [showTime]="true" [inline]="true" hourFormat="12"></p-calendar>
                <p style="font-size:10px; color:red;" *ngIf="campoValido('fecha_inicial')">Ingrese una fecha inicial</p>
            </div>

            <div class="p-field">
                <label>Fin de evento</label><br>
                <p-calendar formControlName="fecha_final" [showTime]="true" [inline]="true" hourFormat="12"></p-calendar>
                <p style="font-size:10px; color:red;" *ngIf="campoValido('fecha_final')">Ingrese una fecha final</p>
            </div>
        </div><br><br>

        <!-- Pie del diálogo con botones alineados a la derecha -->
        <p-footer>
            <div style="display: flex; justify-content: flex-end;">
                <button pButton icon="pi pi-times" type="button" (click)="visible = false" label="Cancelar"
                    class="p-button-text"></button>
                <button pButton icon="pi pi-check" type="submit" [disabled]="Formulario.invalid" label="Aceptar"
                    class="p-button-text"></button>
            </div>
        </p-footer>
        
    </form>
</p-dialog>


<!-- -------------------------------------------- Formulario actualizar ------------------------------------------------- -->

<form [formGroup]="Formulario2">
    <p-dialog header="Actualizar Evento" [(visible)]="visibleE" [style]="{width: '800px', height: 'auto'}"
        class="flex flex-column flex-wrap">

        <div class="p-fluid">
            <div class="p-field">
                <label>Lugar</label><br>
                <input pInputText [style]="{ width: '20vw'}" formControlName="lugar" /><br>
                <p style="font-size:10px; color:red;" *ngIf="campoValido2('lugar')">Ingrese un lugar</p><br>
            </div>

            <div class="p-field">
                <label>Descripción</label><br>
                <textarea rows="5" cols="29" pInputTextarea formControlName="descripcion"></textarea><br>
                <p style="font-size:10px; color:red;" *ngIf="campoValido2('descripcion')">Ingrese una descripcion</p>
                <br>
            </div>

            <div class="p-field">
                <label>Evento</label><br>
                <input pInputText [style]="{ width: '20vw'}" formControlName="evento" /><br>
                <p style="font-size:10px; color:red;" *ngIf="campoValido2('evento')">Ingrese un evento</p><br>
            </div>

            <div class="p-field">
                <label>Inicio de evento</label><br>
                <p-calendar formControlName="fecha_inicial" [showTime]="true" [inline]="true" hourFormat="12" /><br>
                <p style="font-size:10px; color:red;" *ngIf="campoValido('fecha_inicial')">Ingrese una fecha inicial</p>
                <br>
                <br>
            </div>

            <div class="p-field">
                <label>Fin de evento</label><br>
                <p-calendar formControlName="fecha_final" [showTime]="true" [inline]="true" hourFormat="12" /><br>
                <p style="font-size:10px; color:red;" *ngIf="campoValido('fecha_final')">Ingrese una fecha inicial</p>
                <br>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="visibleE = false" label="Cancelar"
                styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" [disabled]="!Formulario2.valid || disableU" (click)="update()" label="Aceptar"
                styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</form>

<!-- -------------------------------------------- Dialog Eliminar Uno ------------------------------------------------- -->

<p-dialog header="Header" [(visible)]="visibleDel" [style]="{ width: '25vw'}" class="flex flex-column flex-wrap">

    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Eliminar registro</span>
    </ng-template>

    <p>Estas a punto de eliminar un registro. ¿Quieres continuar?</p>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="visibleDel = false" label="Cancelar" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" [disabled]="disableD" (click)="delete()" label="Aceptar"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- -------------------------------------------- Dialog Eliminar varios ------------------------------------------------- -->

<p-dialog header="Header" [(visible)]="visibleVar" [style]="{ width: '25vw'}" class="flex flex-column flex-wrap">

    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Eliminar registro</span>
    </ng-template>

    <p>Estas a punto de eliminar registros. ¿Quieres continuar?</p>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="visibleVar = false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" [disabled]="disableDV" (click)="deleteSelected()" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>